*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: arial;
    font-size: 14px;
    color: #333;
}

.header{
    z-index: 10;
    background-color: #A30D3B;
    float: left;
    width: 100%;
    padding: 0 5px;
    /* position: fixed; */
    top: 0;
    left: 0;
    border-bottom: 10px solid #f6b801;
}

.custome-container{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
    overflow: hidden;
}

.logo{
    width: 100%;
    float: left;
    margin: 0 auto;
    text-align: center;
}

img{
    border-style: none;
    max-width: 100%;
    height: auto;

}



.mymarquee p {
    font-size: 16px;
    color: #811b37;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    width: 100%;

}








.container{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
    overflow: hidden;
}

.formContainer{
    border: 15px solid #e7e7e7;
    padding: 20px;
    max-width: 720px;
    box-shadow: 2px 2px 12px 2px #ccc inset;
   
    margin: 20px auto 0;
    width: 100%;
    overflow: hidden;
}

form{
    display: block;
}

.formContainer h4 {
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    padding: 0 5px 10px;
    color: #A30D3B;
    border-bottom: 1px solid #A30D3B;
    margin-bottom: 20px;
}

.input-group {
    width: 100%;
    float: left;
    font-family: arial;
    margin: 0 0 5px;
}

.input-group label {
    float: left;
    width: 50%;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    margin-right: 10px;
}

.input-group b {
    color: red;
    font-size: 18px;
}

b, strong {
    font-weight: bolder;
}

.input-group .inputfield, #drp_city, #drp_branch, #div_city1 select, #div_city2 select, #div_city select {
    float: right;
    width: 42%;
    font-size: 14px;
    border: 1px solid #D4D4D4;
    padding: 6px 10px;
    color: #333;
}

button, select {
    text-transform: none;
}

.radioblock, .capchablock {
    padding: 0 4px;
    float: right;
    width: 42.5%;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    /* line-height: 1.15; */
    margin: 0;
}


.fullwidth {
    width: 100%;
    float: left;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
}

[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

#CorAddress, .checkboxdiv {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    float: left;
}

.formContainer p {
    font-size: 16px;
    padding: 5px 10px;
    color: #333;
    float: left;
}

.inputfield2 {
    font-size: 14px;
    border: 1px solid #D4D4D4;
    padding: 6px 10px;
    color: #333;
    margin-bottom: 5px;
    float: left;
}



.btn-group {
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 360px;
}

.btn {
    color: #fff;
    background-color: #811b37;
    font-size: 14px;
    font-weight: bold;
    width: 150px;
    padding: 8px 15px;
    float: left;
    margin: 10px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.btn:hover{
    background: #f6b801;
    color: #000;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}




button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}




.footer {
    background-color: #A30D3B;
    float: left;
    width: 100%;
    /* position: fixed; */
    bottom: 0;
    left: 0;
}


.footer p {
    color: #fff;
    text-align: center;
}

.footer .custom-container {
    padding: 10px 0;
}

b, strong {
    font-weight: bolder;
}